@font-face {
  font-family: 'LatoBold', sans-serif;
  src: url('fonts/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'LatoSemibold', sans-serif;
  src: url('fonts/Lato-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'LatoMedium', sans-serif;
  src: url('fonts/Lato-Medium.woff') format('woff');
}

@font-face {
  font-family: 'MontserratBold', sans-serif;
  src: url('fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'MontserratSemibold', sans-serif;
  src: url('fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'MontserratMedium', sans-serif;
  src: url('fonts/Montserrat-Medium.woff') format('woff');
}

:root {
  --lightWhite: #fff8f5;
  --white: #fff0e4;
  --red: #d7537a;
  --darkGreen: #8e8d6f;
  --green: #7ea048;
  --black: #272626;
}

html,
body,
a,
li,
ul,
h1,
h2,
h3,
p,
sub,
sup,
button,
span,
form,
div,
section,
textarea,
input {
  margin: 0;
  padding: 0;
  gap: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'MontserratMedium', sans-serif;
  font-weight: 500;
  color: var(--black);
}

p {
  font-size: 18px;
}

ul > li > a {
  font-size: 18px;
}

ul > li {
  font-size: 18px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 12px;
  }

  ul > li > a {
    font-size: 12px;
  }

  ul > li {
    font-size: 12px;
  }
}

html {
  background-color: var(--white);
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.cookie_notice {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: var(--black);
  padding: 10px 20px;
  border-top: 4px solid var(--blue);
}

.cookie_btn {
  display: inline-block;
  margin: 10px 6px 4px 6px;
  text-decoration: none;
  position: relative;
  font-size: 13px;
  padding: 4px 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--blue);
  border: 2px solid var(--gray);
}

.cookie_btn:hover {
  color: #fff;
}

.cookie_btn:after,
.cookie_btn:before {
  position: absolute;
  height: 2px;
  left: 50%;
  background: #fff;
  bottom: -6px;
  content: '';
  -webkit-transition: all 280ms ease-in-out;
  -o-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.cookie_btn:before {
  top: -6px;
}

.cookie_btn:hover:after,
.cookie_btn:hover:before {
  width: 100%;
  left: 0;
}

.default-button {
  font-size: 18px;
  font-family: '700', sans-serif;
  color: white;
  padding: 14px 20px;
  border-radius: 8px;
  width: auto;
}

.button {
  padding: 23px 40px;
  width: auto;
  background-color: #d7537a;
  text-align: center;
  border-radius: 37px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family: 'MontserratBold', sans-serif;
}

.button-small {
  border-radius: 20px;
  padding: 9px 27px;
  background-color: #d7537a;
  font-family: 'LatoRegular', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 18px;
}

.button:hover,
.button-small:hover {
  background-color: #fd4f79;
  cursor: pointer;
}

.button:active,
.button-small:active {
  background-color: #fb7e98;
}

.header {
  background-color: var(--white);
  width: 100%;
  padding: 9px 0;
  position: relative;
  z-index: 2;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__nav > ul {
  width: auto;
  display: flex;
  gap: 25px;
  align-items: center;
}

.logo > img {
  object-fit: contain;
  height: 55px;
}

.banner {
  position: relative;
  background-color: white;
  padding-bottom: 120px;
}

.banner-decor {
  width: 100%;
  z-index: 1;
  top: -77px;
  position: absolute;
  height: 870px;
  /* height: 100%; */
}

.banner__wrapper {
  padding-top: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
  width: 100%;
  max-width: 700px;
  margin-right: auto;
}

.banner__wrapper > h1 {
  margin-bottom: 10px;
  font-family: 'MontserratBold', sans-serif;
  font-weight: 700;
  letter-spacing: 2%;
}

.title {
  font-weight: 700;
  font-family: ' MontserratBold', sans-serif;
  color: var(--black);
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.paddingSection {
  padding: 40px 0;
}

.sales {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.sales__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  justify-items: center;
}

.sales__item {
  padding: 9px 9px 35px 9px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: white;
  border-radius: 0 20px 20px 20px;
  max-width: 280px;
  position: relative;
  height: 350px;
}

.sales__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.sales__item-img > img {
  width: 100%;
  height: 245px;
  border-radius: 0px, 10px, 0px, 0px;
}

.salesHit {
  background-color: #fd4f79;
}

.salesNew {
  background-color: #4ae950;
}

.salesDay {
  background-color: #fd984f;
}

.sales__item-status > p {
  border-radius: 0px 6px 6px 0px;
  width: auto;
  padding: 4px 6px;
  color: white;
  font-weight: 500;
  font-family: 'MontserratRegular', sans-serif;
  font-size: 14px;
  width: 100%;
}

.sales__item-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  position: absolute;
  left: -2px;
  top: 10px;
  width: 110px;
}

.sales__item-title {
  font-size: 16px;
  font-weight: 500;
  font-family: 'MontserratRegular', sans-serif;
  margin-bottom: 10px;
}

.sales__item > a {
  position: absolute;
  bottom: 35px;
  margin: 0 auto;
}

.why {
  width: 100%;
  margin-bottom: 40px;
}

.why__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.why__wrapper > .why__item:nth-child(2) > img {
  width: 697px;
  height: 390px;
}

.why__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0px;
  margin-left: auto;
}

.why__item:nth-child(even) {
  margin-right: auto;
  margin-left: 0px;
}

.why__item > p {
  font-family: 'LatoSemibold', sans-serif;
  font-weight: 500;
  font-size: 24px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0px 2px 4px 0px #00000040;
  width: 470px;
  height: auto;
  padding: 66px 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  right: 550px;
  margin-top: 130px;
}
.why__wrapper > .why__item:nth-child(2) > p {
  right: 640px;
}

.why__item > img {
  width: 563px;
  height: 625px;
  position: relative;
  z-index: 1;
}

.catalog {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-items: center;
}

.catalog__item {
  background-image: url('content/catalog-1.webp');
  grid-area: 1 / 1 / 4 / 2;
}

.catalog__item__2 {
  background-image: url('content/catalog-2.webp');
  grid-area: 4 / 1 / 7 / 2;
}

.catalog__item__3 {
  background-image: url('content/catalog-3.webp');
  width: 575px;
  height: 210px;
  position: relative;
  grid-area: 1 / 2 / 3 / 4;
}

.catalog__item__4 {
  background-image: url('content/catalog-4.webp');
  width: 575px;
  height: 260px;
  position: relative;
  grid-area: 3 / 2 / 5 / 4;
}

.catalog__item__5 {
  background-image: url('content/catalog-5.webp');
  width: 575px;
  height: 210px;
  position: relative;
  grid-area: 5 / 2 / 7 / 4;
}

.catalog__item__6 {
  background-image: url('content/catalog-6.webp');
  grid-area: 1 / 4 / 4 / 5;
}

.catalog__item__7 {
  background-image: url('content/catalog-7.webp');
  grid-area: 4 / 4 / 7 / 5;
}

.catalog__item-all {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  min-height: 100% !important;
}

.catalog__item__content__3__5 {
  width: 190px;
  height: 100%;
  background-color: rgba(255, 248, 245, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.catalog__item__content__4 {
  width: 180px;
  height: 100%;
  background-color: rgba(255, 248, 245, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.catalog__decor__3__5 {
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.catalog__item__content {
  width: 100%;
  height: 95px;
  background-color: rgba(255, 248, 245, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.catalog__decor {
  display: flex;
  flex-direction: column;
}

.catalog__item__title {
  font-family: 'MontserratSemibold', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.for {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.for__wrapper__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.for__wrapper__title > img {
  margin-top: -35px;
}

.for__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  justify-items: center;
}

.for__bottom__sub {
  font-family: 'LatoMedium', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--darkGreen);
  text-align: center;
  margin-top: 25px;
}

.delivery {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  background: white;
}

.delivery__decor {
  width: 100%;
  z-index: 1;
  position: absolute;
  height: 100%;
}

.delivery__wrapper {
  padding: 158px 227px;
}

.delivery__wrapper > h2 {
  font-weight: 700;
  font-family: ' MontserratBold', sans-serif;
  color: var(--black);
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.delivery__content {
  font-family: 'MontserratMedium', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  font-style: normal;
  margin-top: 55px;
  text-align: start;
  color: var(--black);
  padding: 100px 150px;
}

.services {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.logo__wrapper__services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__wrapper__services > a > img {
  width: 260px;
  height: 53px;
}

.services__wrapper {
  margin-top: 85px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  justify-items: center;
}

.services__item {
  background-image: url('content/services-1.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__2 {
  background-image: url('content/services-2.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__3 {
  background-image: url('content/services-3.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__4 {
  background-image: url('content/services-4.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__5 {
  background-image: url('content/services-5.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__6 {
  background-image: url('content/services-6.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__7 {
  background-image: url('content/services-7.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__item__8 {
  background-image: url('content/services-8.webp');
  width: 280px;
  height: 358px;
  position: relative;
}

.services__content {
  width: 100%;
  height: 95px;
  background-color: rgba(255, 248, 245, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.services__decor {
  display: flex;
  flex-direction: column;
}

.services__item__title {
  font-family: 'MontserratSemibold', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.footer {
  background-color: white;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer__info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
}

.footer__info > ul {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__info > ul > li:nth-child(1) {
  color: var(--red);
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'LatoBold', sans-serif;
  font-weight: 700;
}

.footer__info > ul > li,
.footer__info > ul > li > a {
  font-size: 18px;
  font-weight: 500;
  font-family: 'LatoRegular', sans-serif;
}

.contacts {
  margin-top: 120px;
  margin-bottom: 120px;
}

.contacts__card {
  width: 100%;
  max-width: 1300px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 14px;
  position: relative;
  z-index: 3;
  background-color: var(--lightWhite);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.contacts__card > iframe {
  width: 100%;
  max-width: 700px;
  height: 480px;
  border-radius: 10px 0px 0px 10px;
}

.contacts__card-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts__card-right > div > h2 {
  font-family: 'MontserratBold', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.contacts__card-right > div > ul > li > img {
  width: 15px;
  height: 15px;
}

.contacts__card-right > div > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__card-right > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contacts__form {
  margin-top: 40px;
}

.contacts__form-title {
  width: 100%;
  text-align: center;
}

.contacts__form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.contacts__form > form > input {
  border-radius: 45px;
  width: 100%;
  max-width: 770px;
  padding: 24px 45px;
  font-family: 'LatoRegular', sans-serif;
  font-weight: 400;
  font-size: 36px;
  border: 0;
}

.contacts__form > form > button {
  border: 0;
  margin-top: 10px;
}

.contacts__form > form > .button-small {
  display: none;
}

.reviewsPartners-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
  column-gap: 90px;
  width: 100%;
}

.reviewsPartners-card {
  background-color: white;
  width: 100%;
  max-width: 830px;
  height: 230px;
  padding: 20px 40px;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 27px;
}

.reviewsPartners-card > img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.reviewsPartners-card > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 7px;
}

.reviewsPartners-card > div > h2 {
  font-size: 24px;
  font-family: 'MontserratBold', sans-serif;
  font-weight: 700;
}

.reviewsPartners-card > div > p {
  font-family: 'LatoRegular', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.about {
  position: relative;
  z-index: 3;
  margin-top: 140px;
}

.about-reviews {
  margin-bottom: 100px;
  margin-top: 120px;
}

.about-rev-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.about-text {
  text-align: left;
  font-family: 'LatoRegular', sans-serif;
  font-weight: 400;
  width: 100%;
  max-width: 900px;
  margin-right: auto;
}
/* media quariess */

@media screen and (max-width: 1280px) {
  .reviewsPartners-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    justify-items: start;
  }

  .reviewsPartners-card {
    width: 89%;
  }
}

@media screen and (max-width: 1024px) {
  .contacts__card {
    flex-direction: column;
  }

  .contacts__card > iframe {
    max-width: 100%;
  }

  .contacts__form > form > input {
    font-size: 22px;
    padding: 12px 24px;
  }

  .contacts__form > form > .button {
    display: none;
  }

  .contacts__form > form > .button-small {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__info > ul {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .reviewsPartners-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90%;
    height: auto;
    max-width: 100%;
    width: 80%;
    text-align: center;
  }

  .reviewsPartners-card > div > h2 {
    font-size: 20px;
  }

  .reviewsPartners-card > div > p {
    font-size: 16px;
  }

  .reviewsPartners-card > div {
    text-align: center;
  }

  .reviewsPartners-card > img {
    width: 80px;
    height: 80px;
  }
}
